body {
	line-height: 1.4em;
	font-size: 14px;
	font-family:Verdana, arial, sans-serif, "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", "Osaka";
	color: #000;
	/* background:transparent url(/images/background-blur.gif) repeat-y 50% 50%; */
}

p {
	margin: 0 0 7px 0;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 3px;
}

ul p {
	font-size: 12px;
	padding-left: 20px;
}

h1,h2,h3 {
	font-weight: bold;
	margin: 0 0 5px 0;
}

h2 {
	border-left: 5px solid blue;
	padding: 0 0 0 7px;
}

h3 {
	border-left: 5px solid orange;
	padding: 0 0 0 7px;
}

li {
  line-height: 1.4em;
  margin: 0;
  padding: 5px 3px 3px 20px;
  background: transparent url('/images/post.gif') no-repeat 2px 8px;
}

#main {
	width: 725px;
	margin: 0 auto;
	text-align: left;
}

#header {
	
}

#contents {
	
}

#footer {
	font-size: 10px;
	color: #ccc;
}

